/target/
/REPFILE.zip
/REPFILE
/data
/.settings/org.eclipse.jdt.ui.prefs
/spartanizer.xml
/src/main/gwt-unitCache/
/get-unitCache/
/src/main/webapp/upandgo/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/deploy/
/src/main/webapp/WEB-INF/lib/
