@CHARSET "UTF-8";
/* stock list header row */

/* VERY BAD PRACTICE, we should use a serperate css file for each panel */
 
  
  /* time table css: */
  
.headerRowStyle {
  background-color: #ffffff;
  color: black;
  padding: 0px;
  
}


.hoursCellStyle {
  background-color: #ffffff;
  color: black;
  padding: 0px;
  padding-top: 5px;
  vertical-align: top;
  text-align: center;
  height:3em;
}




/*
.table td:nth-child(1), table th:nth-child(1)  {
			display:none;
		}*/

.timetableFlexStyle {
	
	
	background-color: #888a85;
  border: 1px solid #d3d7cf;
  border-right-width: 0px;
  border-radius: 3px;
  border-spacing: 1px;
  padding: 0px;
}

.hourCol {
	width:6em;
  	height:4em;
  	text-align: left;
}

/* do not change this one */
.tableArciCol {
	display: none;
	border-color: blue;
	background-color: blue;
	padding: 0px;
	border-spacing: 0px;
	
	width:0%;
  	height:1.5em;
  	text-align: center;
  	
  	background: rgba(255,255,255,1);
}

.emptyCell {
	
	text-align: center;
	background-color: #ffffff;
}
.notEmptyCell1 {
	text-align: center;
	background-color: #ad7fa8;
}
.notEmptyCell2 {
	text-align: center;
	background-color: #8ae234;
}
.notEmptyCell3 {
	text-align: center;
	background-color: #fcaf3e;
}
.notEmptyCell4 {
	text-align: center;
	background-color: #729fcf;
}

/* not in use */
.insideEmptyCellEven {
	background-color: #d3d7cf;
}
.insideEmptyCellOdd {
	background-color: #babdb6;
}

.headerCellStyle {
	border-color: #cc0000;
	border-width: 1px;
  text-align: center;
  padding: 0px;
  width:12em;
  height:4em;
}
