@CHARSET "UTF-8";

@external .cell-button .courseSelectionRow .clear-button;


.courseSelectionRow:hover .cell-button{
	display: inline;
	
}
.ChosenCourses{


}

.clear-button{
	height: 2.5em;
    width: 7em;
    font-size: 12px;
    right: auto !important;
    position: absolute;
}