@CHARSET "UTF-8";

@external .cell-button .courseSelectionRow .clear-button;


.courseSelectionRow:hover .cell-button{
	transition-delay:0.21s;
	visibility: visible;
	
}
.ChosenCourses{


}

.clear-button{
	height: 2.5em;
    width: 7em;
    font-size: 12px;
    right: auto !important;
    position: absolute;
}

.loadingLogo{
	display: none;
    position: absolute;
    top: 45%;
    bottom: 0px;
    right: 45%;
    left: 0px;
    z-index: 9;
    text-align: center;
    width: 3em;
    height: 3em;
}