@CHARSET "UTF-8";

@external .course .course-name .cell-button .courseSelectionRow;
.courseListCellPanel{
	
}

.course{
	cursor: default;
	user-select: none;
	max-width: 78%; 
	overflow: hidden;
	white-space: nowrap; 
	display:inline-block;
  	text-overflow: ellipsis;
	float:right;
}

.cell-button{
	display: none;
	font-size:10px; 
	float:left; 
	padding: 1px 3px;
}
