@CHARSET "UTF-8";

@external .btn;

.examsControlsPanel{
	background-color: WhiteSmoke;
	width: 100%
}

.examsControlsPanel .btn{
	cursor:pointer;
	width: 10em;
	margin-top: 1.05em;
	padding: 2px 12px;
}


