@CHARSET "UTF-8";
@external .navbar-default


.navbar-default {
  background-color: #eeeeec;
  
}

.choosenSemesterEntry{
	background-color: #d3e4d0;
}

.choosenSemesterEntry:hover{
	background-color: #d3e4d0;
}

.choosenSemesterEntry a{
	cursor: default;
}