@CHARSET "UTF-8";
@external .navbar-default


.navbar-default {
  background-color: #eeeeec;
  
}

 .choosenSemesterEntry{
}

.choosenSemesterEntry:hover{
} 

.choosenSemesterEntry a{
	cursor: default;
	font-weight: bolder;
}

@external .dropdown-menu
.dropdown-menu li {
	background-color: black;
}
.dropdown-menu li:hover {
	background-color: black;
}

.navBarLink{
	margin-right: 2em;
}