@CHARSET "UTF-8";

.constraintsPanel {
	width: 100%;
}

.constraintsPanel tr{
}

.constraintsPanel input{
	top: -2px;
}


.constraintsLabel{
}

.timeStartEndPanel{
	
}

.timeStartEndPanel td{
	padding-left: 1em;
}

.spacerPanel{
	padding-left: 2em;
}

.horizontalLine{
	witdh: 100%;
	border: 1px solid #e5e5e5;
	margin-bottom: 1em;
	margin-top: 1em;
	
}

.coursesConstraintsPanel{
	width: 100%;
}

.courseConstraintsPanel td{
	padding-left: 1em;
}

.onlyCheckBox{
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: 1em;
}

.onlyCheckBox span{
	padding-right: 20px;
}

.onlyCheckBox input{
	top: -2px;
}


.timeCheckBox {
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 0px;
}

.timeCheckBox span{
	padding-right: 20px;
}

.timeCheckBox input{
	top: -2px;
}

.timeListBox{
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 2px 2px;
	height: 25px;
}

.courseCheckBox{
	padding-left: 0px;
}

.courseCheckBox span{
	padding-right: 20px;
}

.courseListBox{
	padding: 2px 2px;
	height: 25px;
}
