@CHARSET "UTF-8";

@external .btn;

.SchedulerControlsPanel .btn{
	cursor:pointer;
	width: 10em;
	margin-bottom: 2em;
	padding: 6px 6px;
}

.SchedulerIndexWell{
	width: 10.5em;
	height: 3em;
	margin-bottom: 2em;
}

.SchedulerControlsPanel{
	background-color: WhiteSmoke;
	width: 100%
}

