@CHARSET "UTF-8";

.constraintsPanel {
}

.constraintsPanel tr{
}


.constraintsLabel{
}

.onlyCheckBox{
	margin: 1em;
}

.onlyCheckBox span{
	padding-right: 20px;
}

.onlyCheckBox input{
	top: -2px;
}


.timeCheckBox {
	margin: 1em;
	padding-left: 0px;
}

.timeCheckBox span{
	padding-right: 20px;
}

.timeCheckBox input{
	top: -2px;
}

.timeListBox{
		margin: 1em;
}
