@CHARSET "UTF-8";

.timeTable{
	
    width: 100%;
    height: 100%;
}

.timeTable tr{
	height:1.5em;

}




.dayTable{
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.dayTable tr{
	
}

.tableRow td {
	
}

.tableRow tr {
}

.headerRow{
}

.headerRow td{
	text-align: center;
	font-weight: bold;
	color:  #555753;
	background: #d3d7cf;
	

}


.hoursTable{
	width: 5em;
	height: 100%;
	border: 1px solid #d3d7cf
}

.hoursTable tr{
}

.hoursTable td{


}

.hoursCell{
	text-align: center;
	vertical-align: text-top;
	font-weight: bold;
	color:  #555753;
	width: 1em;
	height:1em;
	border: 1px solid #d3d7cf
}

.dayCol{	

	}

.hasEvent{
	position: relative; 
	color: white;
	font-weight: bold;
    padding: 0.8em;
    box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	
	
}
.hasEvent:after{
    content: "";
    display: block;
    top:20px; left:10px; right: 10px; bottom: 0;	
    position: absolute;
    z-index: -1;
   	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}

.hasEvent:hover{
  color: yellow;
}

.hasEventContent{
	width:100%;
	
}

.hasEventWrap{
	position: absolute;  top: 0; left: 0; width: 100%; height: 100%;	
	overflow: hidden;
    padding: 0.8em;
    cursor: pointer;
}

.hasEventWrap:after{
  content: "";
  text-align: right;
  position: absolute;
	right:0; bottom:0; left:0;
  height: 2em;

}




.hasEventWrap[eventNum="ORANGERED"]{
    background: #FF4500;
}

.hasEventWrap[eventNum="GOLD"]{
	background: #FFD700;
}

.hasEventWrap[eventNum="PALETURQUOISE"]{
	background: #AFEEEE;
}

.hasEventWrap[eventNum="SLATEBLUE"]{
    background: #6A5ACD;
}

.hasEventWrap[eventNum="LIMEGREEN"]{
	background: #32CD32;
}

.hasEventWrap[eventNum="GOLDENROD"]{
	background: #DAA520;
}

.hasEventWrap[eventNum="BLUEVIOLET"]{
	background: #8A2BE2;
}

.hasEventWrap[eventNum="BROWN"]{
	background: #A52A2A;
}

.hasEventWrap[eventNum="CORAL"]{
	background: #FF7F50;
}

.hasEventWrap[eventNum="CHARTREUSE"]{
	background: #7FFF00;
}

.hasEventWrap[eventNum="CORNFLOWERBLUE"]{
	background: #6495ED;
}

.hasEventWrap[eventNum="DARKORANGE"]{
	background: #FF8C00;
}

.hasEventWrap[eventNum="DARKSLATEGRAY"]{
	background: #2F4F4F;
}

.hasEventWrap[eventNum="FUCHSIA"]{
	background: #FF00FF;
}

.hasEventWrap[eventNum="OLIVEDRAB"]{
	background: #6B8E23;
}

.hasEventWrap[eventNum="SEAGREEN"]{
	background: #2E8B57;
}
 
.hasEventWrap[eventNum="TURQUOISE"]{
	background: #40E0D0;
}

.hasEventWrap[eventNum="NAVY"]{
	background: #000080;
}

.hasEventWrap[eventNum="CRIMSON"]{
	background: #DC143C;
}



.hasEventWrap[eventNum="ORANGERED"]:after{
    background: linear-gradient(transparent, #FF4500);
}

.hasEventWrap[eventNum="GOLD"]:after{
	background: linear-gradient(transparent, #FFD700);
}

.hasEventWrap[eventNum="PALETURQUOISE"]:after{
	background: linear-gradient(transparent, #AFEEEE);
}

.hasEventWrap[eventNum="SLATEBLUE"]:after{
    background: linear-gradient(transparent, #6A5ACD);
}

.hasEventWrap[eventNum="LIMEGREEN"]:after{
	background: linear-gradient(transparent, #32CD32);
}

.hasEventWrap[eventNum="GOLDENROD"]:after{
	background: linear-gradient(transparent, #DAA520);
}

.hasEventWrap[eventNum="BLUEVIOLET"]:after{
	background: linear-gradient(transparent, #8A2BE2);
}

.hasEventWrap[eventNum="BROWN"]:after{
	background: linear-gradient(transparent, #A52A2A);
}

.hasEventWrap[eventNum="CORAL"]:after{
	background: linear-gradient(transparent, #FF7F50);
}

.hasEventWrap[eventNum="CHARTREUSE"]:after{
	background: linear-gradient(transparent, #7FFF00);
}

.hasEventWrap[eventNum="CORNFLOWERBLUE"]:after{
	background: linear-gradient(transparent, #6495ED);
}

.hasEventWrap[eventNum="DARKORANGE"]:after{
	background: linear-gradient(transparent, #FF8C00);
}

.hasEventWrap[eventNum="DARKSLATEGRAY"]:after{
	background: linear-gradient(transparent, #2F4F4F);
}

.hasEventWrap[eventNum="FUCHSIA"]:after{
	background: linear-gradient(transparent, #FF00FF);
}

.hasEventWrap[eventNum="OLIVEDRAB"]:after{
	background: linear-gradient(transparent, #6B8E23);
}

.hasEventWrap[eventNum="SEAGREEN"]:after{
	background: linear-gradient(transparent, #2E8B57);
}
 
.hasEventWrap[eventNum="TURQUOISE"]:after{
	background: linear-gradient(transparent, #40E0D0);
}

.hasEventWrap[eventNum="NAVY"]:after{
	background: linear-gradient(transparent, #000080);
}

.hasEventWrap[eventNum="CRIMSON"]:after{
	background: linear-gradient(transparent, #DC143C);
}


.noEvent{
	border: 1px solid #d3d7cf;
}

.noEvent:hover{
   	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.userEvent .hasEventWrap{
	background: #555753;
}

.userEvent .hasEventWrap:after{
	background: linear-gradient(transparent, #555753);
}