@CHARSET "UTF-8";

.timeTable{
	
    width: 100%;
    height: 99%;
}

.timeTable tr{
	height:1.5em;

}




.dayTable{
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.dayTable tr{
	
}

.tableRow td {
	
}

.tableRow tr {
}

.headerRow{
}

.headerRow td{
	text-align: center;
	font-weight: bold;
	color:  #555753;
	background: #d3d7cf;
	

}


.hoursTable{
	width: 5em;
	height: 100%;
	border: 1px solid #d3d7cf
}

.hoursTable tr{
}

.hoursTable td{


}

.hoursCell{
	text-align: center;
	vertical-align: text-top;
	font-weight: bold;
	color:  #555753;
	width: 1em;
	height:1em;
	border: 1px solid #d3d7cf
}

.dayCol{	

	}

.hasEvent{
	position: relative; 
	color: white;
	font-weight: bold;
    padding: 0.8em;
    box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	
	
}
.hasEvent:after{
    content: "";
    display: block;
    top:20px; left:10px; right: 10px; bottom: 0;	
    position: absolute;
    z-index: -1;
   	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}

.hasEvent:hover{
  color: yellow;
}

.hasEventWrap{
	position: absolute;  top: 0; left: 0; width: 100%; height: 100%;	
	overflow: hidden;
    padding: 0.8em;
    
}

.hasEventWrap:after{
  content: "";
  text-align: right;
  position: absolute;
	right:0; bottom:0; left:0;
  height: 2em;

}


.hasEventWrap[eventNum="0"]{
    background: #FF4500;
}

.hasEventWrap[eventNum="1"]{
	background: #FFD700;
}

.hasEventWrap[eventNum="2"]{
	background: #E6E6FA;
}

.hasEventWrap[eventNum="3"]{
    background: #6A5ACD;
}

.hasEventWrap[eventNum="4"]{
	background: #32CD32;
}


.hasEventWrap[eventNum="5"]{
	background: #8ae234;
}





.hasEventWrap[eventNum="ORANGERED"]{
    background: #FF4500;
}

.hasEventWrap[eventNum="GOLD"]{
	background: #FFD700;
}

.hasEventWrap[eventNum="PALETURQUOISE"]{
	background: #AFEEEE;
}

.hasEventWrap[eventNum="SLATEBLUE"]{
    background: #6A5ACD;
}

.hasEventWrap[eventNum="LIMEGREEN"]{
	background: #32CD32;
}

.hasEventWrap[eventNum="GOLDENROD"]{
	background: #DAA520;
}







.hasEventWrap[eventNum="0"]:after{
	background: linear-gradient(transparent, #577F92);
}

.hasEventWrap[eventNum="1"]:after{
	background: linear-gradient(transparent, #443453);
}

.hasEventWrap[eventNum="2"]:after{
	background: linear-gradient(transparent, #A2B9B2);
}

.hasEventWrap[eventNum="3"]:after{
	background: linear-gradient(transparent, #f6b067);
}

.hasEventWrap[eventNum="4"]:after{
	background: linear-gradient(transparent, #ad7fa8);
}

.hasEventWrap[eventNum="5"]:after{
	background: linear-gradient(transparent, #8ae234);
}



.noEvent{
	border: 1px solid #d3d7cf
}