@CHARSET "UTF-8";
@external body;
body{
	background: WhiteSmoke;
	cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body:click {
	cursor: default;
}

.scrollableTimeTable > div{
	height: 100%;
}

@external .gwt-ListBox;
.gwt-ListBox{
}

.gwt-ListBox:disabled{
	background-color: #babdb6;
}

@external .modal-header .close;

.modal-header .close{
	float: left;
	padding-top: 4px;
}