@CHARSET "UTF-8";
/* stock list header row */

/* VERY BAD PRACTICE, we should use a serperate css file for each panel */
 
  
  /* time table css: */
  
.watchListHeader {
  background-color: #ffffff;
  color: black;
  padding: 0px;
  
}

.watchList {
	background-color: #888a85;
  border: 1px solid #d3d7cf;
  border-radius: 1px;
  border-spacing: 1px;
  padding: 0px;
}

.hourCol {
	width:6em;
  	height:4em;
  	text-align: center;
}

.watchListNumericColumn {
	border-color: #cc0000;
	border-width: 1px;
  text-align: center;
  padding: 0px;
  width:12em;
  height:4em;
}
