@CHARSET "UTF-8";
/* stock list header row */

/* VERY BAD PRACTICE, we should use a serperate css file for each panel */
 
  
  /* time table css: */
  
.headerRowStyle {
  background-color: #ffffff;
  color: black;
  padding: 0px;
  
}

.timetableFlexStyle {
	background-color: #888a85;
  border: 1px solid #d3d7cf;
  border-right-width: 0px;
  border-radius: 3px;
  border-spacing: 1px;
  padding: 0px;
}

.hourCol {
	width:6em;
  	height:4em;
  	text-align: center;
}

.emptyCol {
	border-color: blue;
	background-color: blue;
	padding: 0px;
	border-spacing: 0px;
	width:0em;
  	height:4em;
  	text-align: center;
}

.insideEmptyCellEven {
	background-color: #d3d7cf;
}
.insideEmptyCellOdd {
	background-color: #babdb6;
}

.headerCellStyle {
	border-color: #cc0000;
	border-width: 1px;
  text-align: center;
  padding: 0px;
  width:12em;
  height:4em;
}
